.game__container {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.game__current_player {
  color: red;
}

.game__player {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}
