*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  margin: 0;
  padding: 0;
}

header, footer {
  z-index: 100;
  position: fixed;
  background: black;
  color: white;
  height: 48px;
  padding: 1rem;
}

header {
  top: 0;
  right: 0;
  left: 0;
}

footer {
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

button {
  margin: 16px 0;
  padding: 1rem;
  border-radius: 16px;
  background: white;
  transition: 0.2s all;
}

button:hover {
  background: #aaa;
}

#app {
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

