.init {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border: 2px solid;
  border-radius: 16px;
}

.init__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.init__form label {
  padding: 16px 0;
}

.init__form button {
  margin: 16px 0;
  padding: 1rem;
  border-radius: 16px;
  background: white;
}