*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  margin: 0;
  padding: 0;
}

header, footer {
  position: fixed;
  background: black;
  color: white;
  height: 48px;
  padding: 1rem;
}

header {
  top: 0;
  right: 0;
  left: 0;
}

footer {
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

.container {
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.board {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}